@media only screen and (max-width: 767px) {#footer { display: none !important;}}
@media only screen and (min-width: 768px) {#mobile_copyright { display: none !important;}}


.row{
    width: 100%;
    height: 100%;
}
.sidebar_left {
    float:left;
    margin-left: 14%;
    padding: 30px;
    width: 15%;
    background-color: rgba(221, 221, 221, 0.3);
    min-width: 10%;
}
.sidenav {
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
    margin-left: 5px;
}
.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.main{
    float: left;
    padding: 2% 2%;
    margin: 0;
    border: 0;
    width: 48%;
    background-color: rgba(221, 221, 221, 0.3);
}
.sidebar_right{
    float: left;
    padding-left: 3%;
    margin: 0;
    border: 0;

}
.name {
    font-weight: bolder;
    font-size: larger;
}
.place1 {
    font-weight: bolder;
    font-size: larger;
    color: gold;
}
.place2 {
    font-weight: bolder;
    font-size: larger;
    color: silver;
}
.place3 {
    font-weight: bolder;
    font-size: larger;
    color: #cd7f32;
}

.heading {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 18px;
}
.buttons {
    float: right;
    margin-right: 20px;
}
#line {
    border-width: 3px;
}
#warning {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
#warningSidenav {
    text-align: center;
    font-weight: bolder;
    color: lightcoral;
}
#noEvents {
    margin: 15px;
    color: lightcoral;
    font-weight: bolder;
}
#placeWarning {
    text-align: center;
    font-weight: bolder;
    color: lightcoral;
}
#btn-all-ev{
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
}
body {
    margin-bottom: 50px;
}
footer {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: small;
    font-weight: lighter;
}
